
<div class="row">
  <div class="offset-lg-1 col-lg-10">
    <div class="card">
      <div class="card-body">
        <div class="card-header text-center">
          <h2>
            Liste des posts
          </h2>
        </div>
        <ul class="list-group mt-2">
          <app-post-list-item 
          *ngFor="let post of posts$|async" 
          [key]="post.key" [title]="post.title" 
          [content]="post.content" 
          [lovIts]="post.lovIts" 
          [created_at]="post.created_at">
          </app-post-list-item>
        </ul>
      </div>
    </div>
  </div>
</div>